/* src/index.css */
/* ...other styles... */
@import './styles/tailwind.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

tr.table- > td, td.isenabled {
  font-weight: bold;
  background-color: lightyellow
}
